# Database (Neon PostgreSQL connection string)
DATABASE_URL="postgresql://user:password@ep-xxxx.pooler.neon.tech/neondb?sslmode=require"

# Auth.js / NextAuth v5
NEXTAUTH_SECRET="ganti-dengan-string-acak-panjang-dan-aman"
NEXTAUTH_URL="https://your-domain.vercel.app"
AUTH_TRUST_HOST="true"

# SMTP (Zoho Mail Nodemailer)
SMTP_HOST="smtp.zoho.com"
SMTP_PORT=465
SMTP_SECURE="true"
SMTP_USER="sap.system@tanimasresources.com"
SMTP_PASS="ajSGMaBuK9R6"
SMTP_FROM="PT Tanimas Resources Internasional <sap.system@tanimasresources.com>"

# App Base URL (URL Production Vercel Anda)
APP_URL="https://your-domain.vercel.app"
